<% include ../partials/_header.ejs%>
<div class="row">
  <div class="row large-tile">
      <!-- <img src="<%=show.img_url%>"> -->
      <img src=" <%= tweets[0].user.profile_banner_url %>" />
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row  show-box">
      <div class="col-sm-4"></div>
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <h2>@<%= show.twitter_handle %></h2>
          <ul class="tweet-stream show-box">
            <% for(i = 0; i < tweets.length; i++) { %>
              <li class="tweet">
                <img src="<%= tweets[0].user.profile_image_url %>"/ ><a href="http://twitter.com/<%= tweets[0].user.screen_name %>/status/<%= tweets[i].id_str %>"><%= tweets[i].text %></a>
              </li>
            <% } %>
          </ul>
      </div>
      <div class="col-sm-8">
        <h2>Chat about <%= show.name  %></h2>
          <div class="socket-chat show-box">
            <ul id="messages"></ul>
          </div>
           <%  if (isAuthenticated == true) {%>
              <div class="chat-form">
                <form action="" class="chat-box">
                  <input id="m" autocomplete="off" class="chat-input"/><button class="chat-button">Send</button>
                </form>
                <script src="/socket.io/socket.io.js"></script>
                <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
                <script>
                 var socket = io();
                 $('form').submit(function(){
                   socket.emit('chat message', $('#m').val());
                   $('#m').val('');
                   return false;
                 });
                 socket.on('chat message', function(msg){
                   var $userMessage =
                   $('#messages').append($('<li>').html("<span class='usernameColor'><%=username%></span> "+ msg));
                 });
               </script>
              </div>
            <% } else { %>
            <div class="chat-prompt"><a href="" data-toggle="modal" data-target="#signup">Sign up</a> or <a href="" data-toggle="modal" data-target="#login">login</a> to start discussing.</p>
            </div>
            <% } %>

      </div>

    </div>
  </div>
</div>


<% include ../partials/_footer.ejs %>


