<% include ../partials/_header.ejs%>
<div class="row">
  <div class="row large-tile">
    <img src=" <%= tweets[0].user.profile_banner_url %>" />
    </div>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="row">
      <div class="col-sm-4">
        <h2>@<%= show.twitter_handle %></h2>
          <ul class="tweet-stream show-box">
            <% for(i = 0; i < tweets.length; i++) { %>
              <li class="tweet">
                <img src="<%= tweets[0].user.profile_image_url %>"/ ><a href="http://twitter.com/<%= tweets[0].user.screen_name %>/status/<%= tweets[i].id_str %>"><%= tweets[i].text %></a>
              </li>
            <% } %>
          </ul>
      </div>
      <div class="col-sm-8">
        <h2>Chat about <%= show.name  %></h2>
          <div class="socket-chat show-box">
            <ul id="messages">
              <% for(i=0; i < chat.length; i++) { %>
                <li><span class="usernameColor"><%= chat[i].username %></span> <%= chat[i].text %></li>
              <% } %>
            </ul>
          </div>
           <%  if (isAuthenticated == true) {%>
              <div class="chat-form">
                <form action="" class="chat-box">
                  <input type="hidden" name="show_id" value="<%=show.id%>"/>
                  <input type="hidden" name="username" value="<%=username%>"/>
                  <input id="m" autocomplete="off" name="text" class="chat-input"/><button class="chat-button">Send</button>
                </form>
                <script src="/socket.io/socket.io.js"></script>
                <script>

                  //alert(document.cookie)
                 var socket = io();
                 $('form').submit(function(event){
                  event.preventDefault()
                   var message = {
                      text: $('#m').val(),
                      show_id: <%= show.id %>,
                      username: "<%= username %>"
                    };
                   socket.emit('chat message', JSON.stringify(message));
                   $('#m').val('');
                   return false;
                 });
                 socket.on('chat message', function(msgStr){
                   var msgObj = JSON.parse(msgStr);
                   var $userMessage =
                   $('#messages').append($('<li>').html("<span class='usernameColor'>" + msgObj.username + "</span> "+ msgObj.text));
                 });
               </script>
              </div>
            <% } else { %>
            <div class="chat-prompt"><a href="" data-toggle="modal" data-target="#signup">Sign up</a> or <a href="" data-toggle="modal" data-target="#login">login</a> to start discussing.</p>
            </div>
            <% } %>

      </div>

    </div>
  </div>
</div>


<% include ../partials/_footer.ejs %>


